<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- Filter -->
  <filter>
  	<filter-name>SecurityFilter</filter-name>
  	<filter-class>com.tathao.filter.SecurityFilter</filter-class>
  </filter>
  <!-- filter mapping  -->
  <filter-mapping>
  	<filter-name>SecurityFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Servlet -->
  <servlet>
  	<servlet-name>MainController</servlet-name>
  	<display-name>MainController</display-name>
  	<description></description>
  	<servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorController</servlet-name>
  	<display-name>ErrorController</display-name>
  	<description></description>
  	<servlet-class>controller.ErrorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminTaskController</servlet-name>
  	<display-name>AdminTaskController</display-name>
  	<description></description>
  	<servlet-class>controller.AdminTaskController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserTaskController</servlet-name>
  	<display-name>UserTaskController</display-name>
  	<description></description>
  	<servlet-class>controller.UserTaskController</servlet-class>
  </servlet>
  <!-- Servlet mapping -->
  <servlet-mapping>
  	<servlet-name>MainController</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorController</servlet-name>
  	<url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminTaskController</servlet-name>
  	<url-pattern>/adminTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserTaskController</servlet-name>
  	<url-pattern>/userTask</url-pattern>
  </servlet-mapping>
  
</web-app>
